<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/style.css">
      <title>MakersBnB</title>
  </head>
  <header>
    <div class="wrap-logo">
      <a href="#logo" class="logo">Our Logo</a>
    </div>
    <nav>
      <a href="/spaces">Spaces</a>
      <a class="active" href="/requests/<%=session[:id]%>">Requests</a>
      <a href="#sign_out">Sign out</a>
    </nav>
  </header>
  <body>
    <div class="spaces-container">
      <div class="body-info">
        <h1>Your own spaces</h1>
        <p>Here you can find requests for rent</p>
      </div>
      <div>
      <%if @spaces.empty?%>
        <h1>Sorry</h1>
        <p>You do not have any spaces</p>
      <%end%>
      <% @spaces.each do |space|%>
        <div class="spaces-item">
          <div class="space-item-header">
            <a href="/spaces/<%=space.id%>"><div class="space-title"><%= space.space_name%></div></a>
            <div class="space-price"><%= space.price%>£</div>
          </div>
          <div class="space-content">
            <p class="space-describtion"><%=space.description%></p>
          </div>
        </div>
      <%end%>
    </div>
  </body>
</html>