<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <meta charset=utf-8>
      <title>Forrest Dwellers</title>
  </head>
  <header>
    <div class="wrap-logo">
      <a href="/" class="logo">Forrest Dwellers</a>
    </div>
    <nav>
      <a href="/spaces">Spaces</a>
      <a href="/requests/<%=session[:id]%>">Requests</a>
      <a href="/">Sign out</a>
    </nav>
  </header>
  <body class="background">
    <div class="spaces-container">
      <div class="body-info">
        <h1><%= @space.space_name%></h1>
      </div>
      <div class="spaces-item">
        <div class="space-item-header">
          <div class="space-title"><%= @space.space_name%></div>
          <div class="space-price"><%= @space.price%>£</div>
        </div>
        <div class="space-content">
          <p class="space-describtion"><%=@space.description%></p>
        </div>
      </div>
      <div class="spaces-booking">
        <form class="spaces-form" action="/spaces/book" name="book_day" method="POST">
          <label>Avalible dates:</label>
          <select name='booking_date' required>
            <%@days.each do |day|%>
              <option value="<%=day%>"><%=day%></option>
            <%end%>
          </select>
          <input class="hidden" type="hidden" name = "space_id" value="<%=@space.id%>"/>
          <input class="hidden" type="hidden" name = "user_id" value="<%=1%>"/>
          <label class="space-price">Price: <%= @space.price%>£</label>
          <input type="submit" value="Book"/>
        </form>
      </div>
    </div>
  </body>
</html>